<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Produk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_products_styles.css') }}" />
  </head>
  <body>
    <h1>Tambah Produk Baru</h1>
    <form method="post" action="{{ url_for('main.add_product') }}">
      <label for="name">Nama Produk:</label><br />
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="price">Harga:</label><br />
      <input type="number" id="price" name="price" required /><br /><br />

      <label for="stock">Stok:</label><br />
      <input type="number" id="stock" name="stock" required /><br /><br />

      <label for="image">URL Gambar:</label><br />
      <input type="text" id="image" name="image" required /><br /><br />

      <button type="submit">Tambahkan Produk</button>
    </form>
    <a href="{{ url_for('main.home') }}">Kembali ke Beranda</a>
  </body>
</html>
